<!doctype html>
<html>
  <head>
    <title>Survey Results - <%= shopName %></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Survey Results</h1>

    <p>First Name: <%= surveyData.first %></p>
    <p>Surname: <%= surveyData.last %></p>
    <p>Email: <%= surveyData.email %></p>
    <p>Age: <%= surveyData.age %></p>
    <p>Drink Category: <%= surveyData.category %></p>
    <p>Student: <%= surveyData.student %></p>
  </body>
</html>

